	<div class="main-visual">
		<div class="container">
			<div class="row">
				<div class="col-md-12 student-info-index">
					<h3 class="col-md-3 col-md-offset-5">生徒一覧</h3>
				    <table class="table table-hover  table-autofilter" id="result">
						<thead>
							<tr>
								<th class="text-center text-space">
									名前
									<div class="form-inline">
										<input type="text" id="search" class="form-control" placeholder="名前を検索">
										<input type="button" value="検索" id="button" class="form-control">
										<input type="button" value="全て" id="button2" class="form-control">
								    </div>
								</th>
								<th class="text-center index-position">性別</th>
								<th class="text-center index-position">年齢</th>
								<th class="text-center table-filterable">
									コース
								</th>
								<th class="text-center table-filterable">
									状態
								</th>
								<th class="text-center index-position" >詳細情報</th>
							</tr>
						</thead>
						<tbody>
							<% @students.each do |student| %>
								<tr>
									<td class="text-center">
										<ruby>
											<%= student.customer.customer_last_name %>
											<%= student.customer.customer_first_name %>
											<rt>
												<%= student.customer.customer_last_name_kana %>
												<%= student.customer.customer_first_name_kana %>
											</rt>
										</ruby>
									</td>
									<td class="text-center">
										<%= student.customer.sex %>
									</td>
									<td class="text-center">
										<%= student.customer.age %>
									</td>
									<td class="text-center">
										<%= student.customer.course.course %>
									</td>
									<td class="text-center">
										<%= student.student_status %>
									</td>
									<td class="text-center">
										<%= link_to '詳細', student_path(student), class: 'btn btn-default center-block' %>
									</td>
								</tr>
							<% end %>
						</tbody>
		            </table>
		        </div>

			</div>
		</div>
	</div>
