<%# breadcrumb :root, @user %>

	<div class="main-visual">
		<div class="container">
		<%#= render partial: 'customers/breadcrumb' %>
 		<div class="breadcrumbs ">
			<%= @user.last_name %> <%= @user.first_name %>さんのページ
		</div>
			<div class="row">
				<div class="col-md-3">
					<div class="user-sidebar">
						<h4>会員情報</h4>
						    <table class="table user-sidebar-text">
						    	<thead>
						    		<tbody>
										<tr>
										    <div class="user-image">
										    	<% if @classwork.present? %>
											    	   <% if @classwork.teacher_image.present? %>
											    	      <%= attachment_image_tag @classwork, :teacher_image, :fill, 133, 133, format: 'jpeg' %>
											    	   <% else %>
											    	      <%= image_tag "no_image.jpg" ,:size => "133x133" %>
											    	   <% end %>
										    	<% else %>
										    	   <%= image_tag "no_image.jpg" ,:size => "133x133" %>
										    	<% end %>
										    </div>
										</tr>
						                <tr>
						                  <th>お名前</th>
						              	  <th class="user-sidebar-content">
						              	  	<%= @user.last_name %>
						              	  	<%= @user.first_name %>
						              	  </th>
						                </tr>
						                <tr>
						                  <th>TEL</th>
						              	  <th class="user-sidebar-content">
						              	  	<%= format_phone(@user.phone) %>
						              	  </th>
						                </tr>
						                <tr>
						                  <th>E-mail</th>
						              	  <th class="user-sidebar-content">
						              	  	<%= @user.email %>
						              	  </th>
						                </tr>
						                <tr>
						                  <th>ご住所</th>
						              	  <th class="user-sidebar-content">〒<%= format_post(@user.post_code) %>
						              	  	<br>
						              	  <%= @user.region.region %>
						              	  <%= @user.city %>
						              	  <%= @user.street %>
						              	 </th>
						                </tr>
						            </tbody>
						        </thead>
				            </table>
				            <%= link_to '登録内容の編集', edit_user_path, class: "btn btn-default center-block" %>
				            <%= link_to 'パスワードの変更', edit_user_registration_path, class: "btn btn-default center-block" %>
						</div>
				</div>

				<div class="col-md-9 info-contents">
					<section class="info-text info-bar">
						<h2>お知らせ</h2>
						　<dl>
							<% Info.all.each do |i| %>
								<dt><%= i.create_day %></dt>
								<dd><%= i.info_contents %></dd>
							<% end %>
						　</dl>
                    </section>
				</div>

				<div class="col-md-9">
					<div class="class-bar">
						<h3>教室情報</h3>
						    <table class="table">
						    	<% if @classwork.present? %>
						    	<thead>
						    		<tbody>
						                <tr>
						                  <th>教室住所</th>
						              	  <th class="school-info-text">
						              	  	〒<%= @classwork.classwork_post_code_first %> - <%= @classwork.classwork_post_code_last %><br>
						              	    <%= @classwork.region.region %>
						              	    <%= @classwork.classwork_city %>
						              	    <%= @classwork.classwork_street %>
						              	  </th>
						                </tr>
						                <tr>
						                  <th>電話番号</th>
						              	  <th class="school-info-text">
						              	  	<%= format_phone(@classwork.classwork_phone) %>
						              	  </th>
						                </tr>
						                <tr>
						                  <th>E-mail</th>
						              	  <th class="school-info-text">
						              	  	<%= @classwork.classwork_email %>
						              	  </th>
						                </tr>
						                <tr>
						                  <th>対応コース</th>
						              	  <th class="school-info-text">
						              	  	<% @classwork.courses.each do |c| %>
						              	  	<div>
						              	  	<%= c.course %>
						              	    </div>
						              	  	<% end %>
						              	  </th>
						                </tr>
						                <tr>
						                  <th>開講日時</th>
						              	  <th class="school-info-text">
						              	  	<% @classwork.class_days.each do |d| %>
						              	  	   <div><%= d.week %>　<%= d.start_time.strftime('%H:%M') %>〜<%= d.finish_time.strftime('%H:%M') %></div>
						              	  	<% end %>
						              	  </th>
						                </tr>
						                <tr>
						                  <th>経歴</th>
						              	  <th class="school-info-text">
						              	     <%= simple_format(h (@classwork.career)) %>
						              	  </th>
						                </tr>
						                <tr>
						                  <th>教室PR</th>
						              	  <th class="school-info-text">
						              	     <%= simple_format(h (@classwork.classwork_pr)) %>
						              	  </th>
						                </tr>
						                <tr>
						                  <th>公開状況</th>
						                  <th class="school-info-text">
						                     <%= @classwork.state ? '公開中' : '非公開' %>
						                  </th>
						                </tr>
						            </tbody>
						        </thead>
						        <% else %>
						        <% end %>
				            </table>
				            <% if @classwork.present? %>
				            <%= link_to '登録内容の編集', edit_classwork_path(current_user.classwork), class: "btn btn-default center-block" %>
				            <% else %>
				            <%= link_to '教室情報を登録', new_classwork_path, class: "btn btn-default center-block" %>
				            <% end %>
					</div>
				</div>

			</div>
		</div>
	</div>
