<% breadcrumb :search %>

	<div class="main-visual">
		<div class="container">
		<%= render partial: 'customers/breadcrumb' %>
			<div class="row">
				<h1>　教室検索</h1>
				<div class="col-xs-3 search-panel">
					<div class="panel panel-default text-center">
						  <div class="panel-heading search-panel-text">郵便番号から探す</div>
						  <div class="panel-body">
						    <p class="search-text-post">郵便番号をご入力のうえ<br>検索ボタンを押してください。<br>
						    </p>
						    <p style="font-size: 5px;">
						    (最初の３ケタだけでも検索できます。)
						    </p>
					      </div>
					      <%= form_tag classworks_path, :method => 'get', class:"search-form form-inline" do %>
			                   <div class="form-group">
			                   	〒 <%= text_field_tag :search_post_first, params[:search_post_first], class:"search-form-first", size:"5" %>
			                   </div>
			                   <div class="form-group">
			                        ー <%= text_field_tag :search_post_last, params[:search_post_last], class:"search-form-last", size:"6" %>
			                   </div>
			                   <br>
			                   <div class="row">
			                   	   <div class="col-md-offset-3 col-md-6">
			                   	   	<%= submit_tag "検  索", class:"btn btn-success btn-block search-form-button" %>
			                        </div>
			                   </div>
			              <% end %>
					</div>
			    </div>

			    <%= render 'customers/imagemap',search_region: :search_region %>

			</div>
		</div>
	</div>
